<!DOCTYPE html>
<html lang="en">

<head>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.0/mode/python/python.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Palo IT HK Chatbot</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Chatbot Systems!</title>
    <style type="text/css">
        * {
            padding: 0;
            margin: 0;
        }


        body {
            height: 100vh;
            width: 100vw;
        }

        .fixed-panel {
            /* min-height: 400px;
               max-height: 400px; */
            background-color: #19313c;
            color: white;
            overflow: auto;
        }

        ul,
        ol {
            list-style-type: none;
            padding: 0;
            margin: 0;
        }

        .panel-footer {
            padding: 10px 15px;
            background-color: #0c2735;
            border-top: 1px solid #0c2735;
            border-bottom-right-radius: 3px;
            border-bottom-left-radius: 3px;
        }

        code {
            position: relative;
            cursor: pointer;
        }

        code::after {
            content: "Click to copy code";
            visibility: hidden;
            position: absolute;
            /* top: 0;
           right: 0; */
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            /* top: 50%;
           left: 50%;
           transform: translate(-50%, -50%); */
            background-color: #f0f0f0;
            padding: 2px 5px;
            font-size: 10px;
            transition: visibility 0.2s;
        }

        code:hover::after {
            visibility: visible;
        }

        /* powered by https://sohipm.com */
    </style>
</head>

<body>



    <div class="h-full w-screen" x-data="{ open: false }" @keydown.window.escape="open = false">

        <div x-show="open" class="relative z-50 lg:hidden"
            x-description="Off-canvas menu for mobile, show/hide based on off-canvas menu state." x-ref="dialog"
            aria-modal="true">

            <div x-show="open" x-transition:enter="transition-opacity ease-linear duration-300"
                x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                x-transition:leave="transition-opacity ease-linear duration-300" x-transition:leave-start="opacity-100"
                x-transition:leave-end="opacity-0" class="fixed inset-0 bg-gray-900/80"
                x-description="Off-canvas menu backdrop, show/hide based on off-canvas menu state."></div>


            <div class="fixed inset-0 flex">

                <div x-show="open" x-transition:enter="transition ease-in-out duration-300 transform"
                    x-transition:enter-start="-translate-x-full" x-transition:enter-end="translate-x-0"
                    x-transition:leave="transition ease-in-out duration-300 transform"
                    x-transition:leave-start="translate-x-0" x-transition:leave-end="-translate-x-full"
                    x-description="Off-canvas menu, show/hide based on off-canvas menu state."
                    class="relative mr-16 flex w-full max-w-xs flex-1" @click.away="open = false">

                    <div x-show="open" x-transition:enter="ease-in-out duration-300"
                        x-transition:enter-start="opacity-0" x-transition:enter-end="opacity-100"
                        x-transition:leave="ease-in-out duration-300" x-transition:leave-start="opacity-100"
                        x-transition:leave-end="opacity-0"
                        x-description="Close button, show/hide based on off-canvas menu state."
                        class="absolute left-full top-0 flex w-16 justify-center pt-5">
                        <button type="button" class="-m-2.5 p-2.5" @click="open = false">
                            <span class="sr-only">Close sidebar</span>
                            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                stroke="currentColor" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12">
                                </path>
                            </svg>
                        </button>
                    </div>

                    <!-- Sidebar component, swap this element with another sidebar if you like -->
                    <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6  bg-scroll">
                        <div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0">
                            <div class="flex flex-row items-center justify-center h-12 w-full">
                                <div class="flex items-center justify-center rounded-2xl text-indigo-700 h-10 w-10">
                                    <img src="{{ url_for('static', filename='logo2.png') }}" alt="">
                                </div>
                                <div class="ml-2 font-bold text-2xl"> Chatbot</div>
                            </div>
                            <div
                                class="flex flex-col items-center bg-blue-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg">
                                <div class="h-20 w-20 rounded-full border overflow-hidden">
                                    <img src="{{ url_for('static', filename='gpt.jpg') }}" alt="Avatar"
                                        class="h-full w-full" />
                                </div>
                                <div class="text-sm font-semibold mt-2">ChatGPT.</div>
                                <div class="text-xs text-gray-500">Operated by @Palo IT </div>
                                <div class="flex flex-row items-center mt-3">
                                    <div class="flex flex-col justify-center h-4 w-8 bg-blue-500 rounded-full">
                                        <div class="h-3 w-3 bg-white rounded-full self-end mr-1"></div>
                                    </div>
                                    <div class="leading-none ml-1 text-xs">Active</div>
                                </div>
                            </div>
                            <div class="flex flex-col mt-8">
                                <div class="flex flex-row items-center justify-between text-xs">
                                    <span class="font-bold"> Bots</span>

                                </div>
                                <div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
                                    <a href="/" class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                                        <div
                                            class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full">
                                            <img src="{{ url_for('static', filename='gpt.jpg') }}" alt="gpt"
                                                class="rounded-full">
                                        </div>
                                        <div class="ml-2 text-sm font-semibold">ChatGPT</div>
                                    </a>
                                    <a href="/gpt16k"
                                        class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                                        <div class="flex items-center justify-center h-8 w-8 bg-gray-200 rounded-full">
                                            <img src="{{ url_for('static', filename='gpt2.webp') }}" alt="gpt"
                                                class="rounded-full">
                                        </div>
                                        <div class="ml-2 text-sm font-semibold">ChatGPT-16k</div>

                                    </a>

                                </div>
                                <div class="flex flex-row items-center justify-between text-xs mt-6">
                                    <span class="font-bold">Active Bots</span>
                                </div>
                                <div class="flex flex-col space-y-1 mt-4 -mx-2">
                                    <button class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                                        <div
                                            class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full">
                                            <img src="{{ url_for('static', filename='gpt.jpg') }}" alt="gpt"
                                                class="rounded-full">
                                        </div>
                                        <div class="ml-2 text-sm font-semibold">ChatGPT</div>
                                    </button>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <!-- Static sidebar for desktop -->
        <div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-72 lg:flex-col">
            <!-- Sidebar component, swap this element with another sidebar if you like -->
            <div class="flex flex-col py-8 pl-6 pr-2 w-64 bg-white flex-shrink-0">
                <div class="flex flex-row items-center justify-center h-12 w-full">
                    <div class="flex items-center justify-center rounded-2xl text-indigo-700 h-10 w-10">
                        <img src="{{ url_for('static', filename='logo2.png') }}" alt="">
                    </div>
                    <div class="ml-2 font-bold text-2xl"> Chatbot</div>
                </div>
                <div
                    class="flex flex-col items-center bg-blue-100 border border-gray-200 mt-4 w-full py-6 px-4 rounded-lg">
                    <div class="h-20 w-20 rounded-full border overflow-hidden">
                        <img src="{{ url_for('static', filename='gpt.jpg') }}" alt="Avatar" class="h-full w-full" />
                    </div>
                    <div class="text-sm font-semibold mt-2">ChatGPT.</div>
                    <div class="text-xs text-gray-500">Operated by @Palo IT </div>
                    <div class="flex flex-row items-center mt-3">
                        <div class="flex flex-col justify-center h-4 w-8 bg-blue-500 rounded-full">
                            <div class="h-3 w-3 bg-white rounded-full self-end mr-1"></div>
                        </div>
                        <div class="leading-none ml-1 text-xs">Active</div>
                    </div>
                </div>
                <div class="flex flex-col mt-8">
                    <div class="flex flex-row items-center justify-between text-xs">
                        <span class="font-bold"> Bots</span>

                    </div>
                    <div class="flex flex-col space-y-1 mt-4 -mx-2 h-48 overflow-y-auto">
                        <a href="/" class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                            <div class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full">
                                <img src="{{ url_for('static', filename='gpt.jpg') }}" alt="gpt" class="rounded-full">
                            </div>
                            <div class="ml-2 text-sm font-semibold">ChatGPT</div>
                        </a>
                        <a href="/gpt16k" class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                            <div class="flex items-center justify-center h-8 w-8 bg-gray-200 rounded-full">
                                <img src="{{ url_for('static', filename='gpt2.webp') }}" alt="gpt" class="rounded-full">
                            </div>
                            <div class="ml-2 text-sm font-semibold">ChatGPT-16k</div>

                        </a>

                    </div>
                    <div class="flex flex-row items-center justify-between text-xs mt-6">
                        <span class="font-bold">Active Bots</span>
                    </div>
                    <div class="flex flex-col space-y-1 mt-4 -mx-2">
                        <button class="flex flex-row items-center hover:bg-gray-100 rounded-xl p-2">
                            <div class="flex items-center justify-center h-8 w-8 bg-indigo-200 rounded-full">
                                <img src="{{ url_for('static', filename='gpt.jpg') }}" alt="gpt" class="rounded-full">
                            </div>
                            <div class="ml-2 text-sm font-semibold">ChatGPT</div>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="sticky top-0 z-40 flex items-center gap-x-6 bg-white px-4 py-2 shadow-sm sm:px-6 lg:hidden">
            <button type="button" class="-m-2.5 p-2.5 text-gray-700 lg:hidden" @click="open = true">
                <span class="sr-only">Open sidebar</span>
                <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
                    aria-hidden="true">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
                </svg>
            </button>
            <div class="flex-1 text-sm font-semibold leading-6 text-gray-900">Palo IT HK Chatbot</div>

        </div>

        <main class=" lg:pl-72 ">
            <div class=" sm:px-6 lg:px-8 ">

                <div
                    class="relative sm:h-[840px] h-screen overflow-hidden rounded-xl border border-dashed border-gray-400 opacity-75 mt-8">
                    <div class="flex flex-col flex-auto h-full sm:p-6 ">
                        <div class="flex flex-col flex-auto flex-shrink-0 rounded-2xl bg-gray-100 h-full sm:p-4">
                            <div class="flex flex-col h-full overflow-x-auto mb-4">
                                <div class="flex flex-col h-full mb-4">

                                    <ul class="media-list break-all"></ul>



                                </div>
                            </div>
                            <div class="flex flex-row items-center h-16 rounded-xl bg-white w-full sm:px-4 px-0">

                                <form method="post" id="chatbot-form" class="flex flex-row w-full items-center p-2">
                                    <div class="flex-grow ml-4">
                                        <div class="relative w-full">
                                            <input type="text"
                                                class="flex w-full border rounded-xl focus:outline-none focus:border-indigo-300 pl-4 h-10 break-words px-2"
                                                type="text" placeholder="Enter Message" name="messageText"
                                                id="messageText" />
                                            <input hidden type="text" name="model_type" id="messageText"
                                                value="{{ request.path }}">

                                        </div>
                                    </div>
                                    <div class="ml-4">
                                        <button
                                            class="flex items-center justify-center bg-blue-500 hover:bg-blue-600 rounded-xl text-white px-4 py-1 flex-shrink-0"
                                            type="submit" id="chatbot-form-btn">
                                            <span class="hidden sm:block">Send</span>
                                            <span class="ml-2">
                                                <svg class="w-4 h-4 transform rotate-45 -mt-px" fill="none"
                                                    stroke="currentColor" viewBox="0 0 24 24"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                        stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8">
                                                    </path>
                                                </svg>
                                            </span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

        </main>
    </div>

    <script>
        $(function () {
            $("#chatbot-form-btn").click(function (e) {
                e.preventDefault();
                $("#chatbot-form").submit();

            });

            $("#chatbot-form").submit(function (e) {
                e.preventDefault();
                var message = $("#messageText").val();
                $(".media-list").append(
                    '<div class="grid grid-cols-12 gap-y-2"><div class="col-start-6 col-end-13 p-3 rounded-lg"> <div class="flex items-center justify-start flex-row-reverse"><div class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0"> <img src="{{ url_for("static", filename="profile.png") }}" alt="gpt" class="rounded-full"></div><div class="relative mr-3 text-xs sm:text-sm bg-blue-100 py-2 px-4 shadow rounded-xl">' +
                    message +
                    "    </div> </div> </div> </div>"

                );

                $.ajax({
                    type: "POST",
                    url: "/ask",
                    data: $(this).serialize(),
                    success: function (response) {
                        $("#messageText").val("");
                        var answer = response.answer;
                        const chatPanel = document.getElementById("chatPanel");
                        $(".media-list").append(
                            '<li class="media"><div class="media-body"><div class="media"><div class="flex flex-row items-start"><div class="flex items-center justify-center h-10 w-10 rounded-full bg-blue-400 flex-shrink-0 mr-2 text-xs sm:text-sm"><img src="{{ url_for("static", filename="chatbot-data.png") }}" alt="gpt" class="rounded-full"></div><p style = "color : black; padding: 0 1rem 0 1rem; white-space: pre-wrap; background-color: rgb(219 234 254); border-radius: 0.75rem; filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07)) drop-shadow(0 2px 2px rgb(0 0 0 / 0.06)); width: 66.666667%; margin-top: 1rem; padding: 1rem; font-size: 0.75rem;" class="media-body">' +
                            answer +
                            "</p></div></div></div></li>"
                        );
                        $(".fixed-panel")
                            .stop()
                            .animate(
                                {
                                    scrollTop: $(".fixed-panel")[0].scrollHeight,
                                },
                                1000
                            );
                    },
                    error: function (error) {
                        console.log(error);
                    },
                });
            });
        });

        function copyCode(element) {
            // console.log(element);
            // Create a temporary textarea
            var textarea = document.createElement("textarea");
            // Get the text of the code element
            let text = element.innerText;
            // var text = document.getElementById("myCode").innerText;
            // Set the value of the textarea
            textarea.value = text;
            // Append the textarea to the body
            document.body.appendChild(textarea);
            // Select the text in the textarea
            textarea.select();
            // Copy the text
            document.execCommand("copy");
            // Remove the textarea from the body
            document.body.removeChild(textarea);
        }
    </script>
</body>
</html>
